// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #f46b42;
$secondary: #fff;

$tablet: "only screen and (max-width: 1024px)";
$phone: "only screen and (max-width: 800px)";
