%flex-and-center
	display: flex
	justify-content: center
	align-items: center
%home-base
	position: absolute
	width: 100%
	display: flex
	justify-content: center
body
	text-align: center
	background: $secondary
	margin-top: 10vw
	overflow-x: hidden
main
	width: 60%
	margin: 0 20%
	position: relative
nav
	@extend %flex-and-center
	position: absolute
	top: calc(10vw + 440px)
	width: 60%
	margin: 0 20%
	flex-direction: column
.links-container
	position: absolute
	top: 15px
	display: flex
	justify-content: center
	width: 100%
	a, p
		text-align: center
		font-size: 2em
		margin: 0 50px
		color: $primary
		&:hover
			cursor: pointer
	a:hover
		text-decoration: none
h1
	font-size: 4em
h2
	font-size: 3.5em
h3
	font-size: 3em
ul
	li
		text-align: left
		font-size: 2em
p
	font-size: 2em
@media #{$tablet}
	body
		margin-top: 5vw
	main
		width: 80%
		margin: 0 10%
	nav
		top: calc(5vw + 440px)
		width: 80%
		margin: 0 10%
@media #{$phone}
	nav
		position: relative
		top: 50px
	.links-container
		position: absolute
		top: -50px
		flex-direction: column
		width: 100%
.body
	&-enter
		position: absolute
		opacity: 0
		left: 20%
		&-active
			left: 0%
			opacity: 1
			transition: .5s
			transition-delay: .5s
	&-exit
		position: relative
		opacity: 1
		right: 0%
		&-active
			opacity: 0
			right: 20%
			transition: .5s
	&-appear
		position: absolute
		opacity: 0
		left: 20%
		&-active
			opacity: 1
			left: 0%
			transition: .5s
.nav
	&-enter
		position: relative
		opacity: 0
		right: 20%
		&-active
			right: 0%
			opacity: 1
			transition: .5s
			transition-delay: .5s
			&:hover
				text-decoration: none			
		&-done
			&:hover
				text-decoration: none
	&-exit
		position: relative
		opacity: 1
		left: 0%
		&:hover
			text-decoration: none
		&-active
			opacity: 0
			left: 20%
			transition: .5s
			&:hover
				text-decoration: none

