.form-position
	display: flex
	justify-content: center
	align-items: center
.form
	opacity: 1
	&--fade
		opacity: 0
		transition: .5s
%button-hover
	cursor: pointer
	background: $secondary
	color: $primary
.background-shade
	position: fixed
	top: 0
	left: 0
	background: black
	opacity: 0.3
	z-index: 10
	width: 100vw
	height: 100vh
.contact-me
	position: fixed
	left: 12.5%
	top: 10%
	z-index: 1000
	width: 75%
	opacity: 1
	padding: 10px 25px
	background-color: $primary
	color: $secondary
	border-radius: 5px
	height: 750px
	overflow: hidden
	h3
		text-align: center
label
	font-size: 2em
	text-align: right
input
	position: relative
	border: none
	border-bottom: 3px solid $secondary
	font-size: 2em
	color: $secondary
	padding: 0 5px
	background: none
	&:focus
		box-shadow: none
		outline: none
textarea
	margin-top: 10px
	border-radius: 5px
	padding: 0 10px
	display: block
	background: none
	margin-left: 10%
	width: 80%
	height: 300px
	font-size: 2em
	border: 3px solid $secondary
	color: $secondary
	resize: none
#name
	position: relative
	left: 45px
#email
	position: relative
	left: 47px
#company
	position: relative
	left: 22px
button
	background: $primary
	color: $secondary
	border: 3px solid $secondary
	font-size: 2em
#send-mail
	transition: .5s
	position: relative
	width: 150px
	left: calc(50% - 75px)
	border-radius: 5px
	&:hover
		@extend %button-hover
.close-button
	transition: .5s
	position: absolute
	right: 0
	top: 0
	height: 65px
	width: 60px
	border: none
	border-radius: 0px 0px 0px 5px
	font-size: 3em
	&:hover
		@extend %button-hover
.confirm
	opacity: 0
	display: none
	width: 100%
	text-align: center
	&--fade-in
		position: absolute
		display: block
		top: 40%
		opacity: 1
@media #{$tablet}
	.background-shade
		width: 100%
	.contact-me
		width: 100vw
		height: 100%
		left: 0
		top: 0
		padding: 0
	.close-button
		right: 50px
	#name
		left: 0
	#email
		left: 0
	#company
		left: 0
	#send-mail
		left: 0
		width: 100vw
	label
		width: 100%
		text-align: center
	.confirm
		display: none
		opacity: 0
		&--fade-in
			display: block
			width: 100%
			text-align: center
			position: absolute
			top: 20%
			opacity: 1
	
.show
	display: block
	animation: .5s appear
.hidden-active
	animation: .5s disappear
.hidden
	display: none
.fade
	&-enter
		opacity: 0
		&-active
			position: absolute
			z-index: 100
			transition: .5s
			opacity: 1
	&-exit
		opacity: 1
		&-active
			position: absolute
			z-index: 100
			transition: .5s
			opacity: 0
		&-done
			display: none