%logo-container-base
	position: absolute
	opacity: 1
	left: 0
	width: 100%
	display: flex
	justify-content: center
%logo-base 
	@extend %flex-and-center
	position: relative
	border-radius: 100%
	background: $primary
	color: $secondary
	font-family: 'Source Sans Pro', sans-serif
	font-weight: bold
	font-style: italic
	user-select: none
%home-base
	position: absolute
	left: 0
	width: 100%
	display: flex
	justify-content: center
%logo-anchor
	position: relative
	top: calc(10vw - 500px)
	border-radius: 100%
.logo-container
	opacity: 1
	width: 100%
	display: flex
	justify-content: center
	&__logo
		@extend %logo-base
		width: 300px
		height: 300px
		font-size: 10em
.nav__logo-container
	position: relative
	top: 100px
	@extend %logo-base
	width: 150px
	height: 150px
	&__logo
		position: relative
		z-index: 10
		color: $secondary
		font-weight: bold
		font-size: 5em
		&:hover
			text-decoration: none